<div class="container-fluid">
  <app-zipcode-entry (addLocation)="onAddLocation($event)" />
  <!-- <app-current-conditions
    [conditions]="currentConditions()"
    (removeCondition)="onRemoveCondition($event)"
  /> -->

  <tabs-component [data]="currentConditions()">
    <ng-template
      #tab
      let-title
    >
      {{ title }}
    </ng-template>
    <ng-template
      #tabContent
      let-data
    >
      <current-condition
        [location]="data"
        [selfRemove]="false"
        (remove)="onRemoveCondition($event)"
      />
    </ng-template>
  </tabs-component>
</div>
