:host {
  display: block;
}

.tabs-switch {
  display: flex;
  gap: 5px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tabs-switch__item {
  padding: 5px 10px;
  border: 1px solid #57595d;
  background-color: #617aa0;
  color: white;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.tabs-switch__item:hover {
  background-color: #4a5e7c;
}

.tabs-switch__item.is-active {
  background-color: #303d51;
}

.tabs-switch__close {
  padding: 0;
  margin: 0 0 0 10px;
  border: none;
  background-color: transparent;
}

.tabs-switch__close:hover {
  color: #8ba5d0;
}

.tabs-switch__close:active {
  color: #7288ac;
}

.tabs-preview {
  padding: 20px 15px;
  border: 1px solid #57595d;
}

.placeholder-text {
  text-align: center;
  color: #ccc;
}
