/* You can add global styles to this file, and also import other style files */
body {
  padding: 10px;
}

.disclaimer {
  margin: 40px 10px 20px;
  font-size: 12px;
  color: #ccc;
  text-align: right;
}
